<!DOCTYPE html>
<html lang="en">
    <head>
        <title>D Taylor eCV</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="">
        <div class="">    
            <div class="">
                <div class="">
                    <h4>Regulatory skills</h4>
                    <ul>
                        <li>Knowledge of GMP & cGMPs </li>
                        <li>Knowledge of regulatory guidance such as ICH, FDA, MHRA & EMA </li>
                        <li>Working understanding of PSF/DPF, technical agreements, Marketing Authorisations/IMPD </li>
                        <li>Clear communication skills, between SME’s and high-level understanding</li>
                        <li>Understanding of the requirements for the approval of Quality documentation </li>
                        <li>Understanding of root cause analysis and implementation of CAPA </li>
                        <li>Ensure enforcement of quality compliance</li>
                        <li>Self Inspections, internal auditing</li>
                        <li>Support in hosting external audits</li>
                        <li>Working independently and within a team to achieve schedule adherence </li>
                        <li>Experience with both external and internal clients</li>
                        <li>Familiar with continuous improvement processes</li>
                        <li>Maintaining and reporting KPI's</li>
                        <li>Experience scheduling and planning.</li>
                        <li>Ordering and maintaining product/ stock levels</li>
                    </ul>
                </div>
                <div class="">
                    <h4>Computer Literacy</h4>
                    <ul>
                        <li>Use of both Microsoft Windows and Linux distributions (mostly Ubuntu) </li>
                        <li>Regular use of Microsoft Word, Excel and Outlook and Teams </li>
                        <li>Experience with Microsoft Access and Power Point </li>
                        <li>Computer programming skills: HTML5, CSS3, Javascript </li>
                        <li>Basic programming knowledge of python </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Data Science/Analysis</h4>
                    <ul>
                        <li>Tools for Data Science</li>
                        <li>Machine Learning with Python </li>
                        <li>Data Visualization with Python </li>
                        <li>Databases and SQL for Data Science with Python </li>
                        <li>Python for Data Science, AI & Development</li>
                        <li>Data Analysis with Python</li>
                        <li>Python Project for Data Science </li>
                        <li>Data Science Methodology</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <h3>Work history</h3>
            <p>Pharaceutical roles at PCI Pharma Services, formerly Penn Pharma. Supermarket role at Asda.</p>
            <table class="">
                <tr>
                    <th>Job title</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td>QA Specialist</td>
                    <td>2021-present </td>
                </tr>
                <tr>
                    <td>QA Officer – Analytical</td>
                    <td>2021</td>
                </tr> 
                <tr>
                    <td>Lead Stability Coordinator</td>
                    <td>2018-2020</td>
                </tr>
                <tr>
                    <td>QC & AD Analyst</td>
                    <td>2009-2018</td>
                </tr> 
                <tr>
                    <td>Laboratory Technician</td>
                    <td>2007-2009</td>
                </tr> 
                <tr>
                    <td>Checkout Operator - Supermarket</td>
                    <td>2004-2007</td>
                </tr> 
            </table>
        </div>
        <div class="">
            <h2>Qualifications</h2>
            <h3>Professional Certifications</h3>
                <a href="https://www.credly.com/badges/560bf63c-8fbe-4f5a-bbfe-41b6473e09ae/public_url""><img src="images/exam-480-programming-in-html5-with-javascript-and-css3.png"></a>
                <a href="https://www.credly.com/badges/9cef993b-9efa-4d21-a84b-af0690713c88/public_url"><img src="images/mta-software-development-fundamentals-certified-2016.png"></a>
                <a href="https://coursera.org/share/bd9c328a0303b28014c33bcfc2d096b6"><img src="images/IBM-DC.png" width="240" height="240"></a>
            <h3>Academic</h3>
            <table class="">
                <tr>
                    <th>Subject</th>
                    <th>Level</th>
                    <th>Grade</th>
                </tr>
                <tr>
                    <td>Chemistry</td>
                    <td>A Level</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>Physics</td>
                    <td>A Level</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>Information Technology</td>
                    <td>A Level</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>English</td>
                    <td>GCSE</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>Mathematics</td>
                    <td>GCSE</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>Welsh (first language)</td>
                    <td>GCSE</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>Chemistry</td>
                    <td>GCSE</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>Physics</td>
                    <td>GCSE</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>Biology</td>
                    <td>GCSE</td>
                    <td>C</td>
                </tr>
            </table>
        </div>
    </body>
</html>