<!DOCTYPE html>
<html>
    <head>
        <title>DTaylor-Profile</title>
  
    </head>
    <body>
        <div class="">
            <h1>File Transfer Protocol</h1>
            <h5>adasdasd</h5>
        </div>
        <div class="">
            <h3>Profile Navigation</h3>
            <ul class="">
                <li class="list-group-item"><a href="views/page2.html" class="badge bg-primary">Page 2</a></li>
                <li class="list-group-item"><a href="views/tools.html" class="badge bg-primary">Tools</a></li>
                <li class="list-group-item"><a href="views/pbHome.html" class="badge bg-primary">Playbook</a></li>
            </ul>
        </div>
        <div>
            <h2>Enumeration</h2>
            
        </div>
        <div>
            <h2>Exploitation</h2>
        </div>
    </body>
</html>
</html>