<!DOCTYPE html>
<html>
    <head>
        <title>DTaylor-Profile</title>
   
    </head>
    <body>
        <div class="">
            <h1>Playbook</h1>
            <h5>Offensive Security</h5>
        </div>
        <div class="">
            <h3>Profile Navigation</h3>
            <ul class="">
                <li class=""><a href="views/tools.html" class="badge bg-primary">Tools</a></li>
                <li class=""><a href="views/pbHome.html" class="badge bg-primary">Playbook</a></li>
            </ul>
        </div>
        <div>
            <h1>Attack stages</h1>
            <p>A theoretical breakdown of the stages. This is just an overview and will be updated with necessary links as the playbook expands.</p>
        </div>
        <div>
            <h2>Recon</h2>
            <p>Identifying types of servers, OS's, IP's, usernames and emails</p>
            <a href="nmap.html" class="">Nmap</a>
            <a href="https://www.exploit-db.com/" class="">Exploit-db</a>
        </div>
        
        <div>
            <h2>Weaponisation</h2>
            <p>Preparing a file with malicous content, li9kely to give remote access.</p>
        </div>
        <div>
            <h2>Delivery</h2>
            <p>Getting the weapon to target</p>
        </div>
        <div>
            <h2>Exploitation</h2>
            <p>Getting the user to open the malicious file</p>
        </div>
        <div>
            <h2>Installation</h2>
            <p>Executing the install form step 4</p>
        </div>
        <div>
            <h2>Command & Control</h2>\
            <p>Gain remote access</p>
        </div>
        <div>
            <h2>Actions on Objectives</h2>
            <p>Carry out the ojective of the hack.</p>
        </div>
    </body>
</html>
