<!DOCTYPE html>
<html>
    <head>
        <title>OffSec Paybook</title>
  
    </head>
    <body>
        <div class="">
            <h1>Samba & SMB</h1>
            <h5></h5>
        </div>
        <div class="">
            <h3>Profile Navigation</h3>
            <ul class="">
                <li class="list-group-item"><a href="views/tools.html" class="badge bg-primary">Tools</a></li>
                <li class="list-group-item"><a href="views/pbHome.html" class="badge bg-primary">Playbook</a></li>
            </ul>
        </div>
        <div>
            <h2>Enumeration</h2>
            <div>
                <h3>Samba - Linux</h3>
                <p>enum4linux [options] [ip address]</p>
                <ul>
                    <li>Options</li>
                    <li>-U : get user list</li>
                    <li>-M : get machine list</li>
                    <li>-N : get namelist dump</li>
                    <li>-S : get sharelist</li>
                    <li>-P : get group and member list</li>
                    <li>-a : run all of the above</li>
                </ul>
            </div>
            <div>
                <h3>Common misconfigurations</h3>
                <ul>
                    <li>Default admin password: ??????</li>
                </ul>
            </div>
        </div>
        <div>
            <h2>Exploitation</h2>
            <p>Check for version of service and search for CVE on <a href="">Exploit-db</a></p>
            <div>
                <h3>Login</h3>
                <p>smbclient //[IP address]/[share drive] -U [username] -p [port]</p>
            </div>
        </div>
    </body>
</html>